<div class="no-gutters row">
    <div id="stepsContainer" class="h-100 w-100 d-flex flex-nowrap row align-items-center" style="overflow: hidden">

        <div class="row col-12 m-3" id="step1">
            <div class="row w-100 p-3 m-3 bg-white">
                <h2>
                    <i class="fa fa-marker"></i> Registration
                </h2>
            </div>

            <div class="row w-100 p-3 m-3">
                <div class="col-5 m-3">
                    <h4>
                        <div>Welcome,</div>
                        <span>Let's get you <span class="text-success">signed up!</span></span>
                    </h4>
                </div>
                <div class="col-5 m-3">
                    <form class="">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="position-relative form-group"><label for="exampleEmail" class=""><span
                                            class="text-danger">*</span> Email</label><input name="email"
                                        id="exampleEmail" placeholder="Email here..." type="email" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="position-relative form-group"><label for="exampleName"
                                        class="">Name</label><input name="text" id="exampleName"
                                        placeholder="Name here..." type="text" class="form-control"></div>
                            </div>
                        </div>
                        <div class="mt-3 position-relative form-check">
                            <input name="check" id="exampleCheck" type="checkbox" class="form-check-input"><label
                                for="exampleCheck" class="form-check-label">Accept our <a
                                    href="javascript:void(0);">Terms and Conditions</a>.</label></div>
                        <div class="mt-4 d-flex align-items-center">
                            <h5 class="mb-0">Already have an account? <a href="javascript:void(0);"
                                    class="text-primary">Sign in</a></h5>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row w-100 p-3 m-3 bg-white">
                <div class="col-4 p-2"></div>
                <div class="col-4 p-2"></div>
                <div class="col-4 p-2">
                    <button aria-target="step2"
                        class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-success btn-lg  pull-right"><i
                            class="fa fa-calendar"></i> Go To Schedule</button>
                </div>
            </div>
        </div>

        <div class="row col-12 m-3 flex" id="step2">
            <div class="row w-100 p-3 m-3 bg-white">
                <h2>
                    <i class="fa fa-calendar"></i> Schedule
                </h2>
            </div>

            <div class="row w-100 p-3 m-3">
                <div class="col-5 m-3">
                    <h4>
                        <div>Great!</div>
                        <span>Now let's find the events <span class="text-success">you want</span> to experience</span>
                    </h4>
                    <div>
                        <h3>Selections go here</h3>
                    </div>
                </div>
                <div class="col-5 m-3">
                    {{> components/instructor-accordion}}
                </div>
            </div>

            <div class="row w-100 p-3 m-3 bg-white">
                <div class="col-4 p-2">
                    <button aria-target="step1"
                        class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg pull-left"><i
                            class="fa fa-marker"></i> Back to Registration</button>
                </div>
                <div class="col-4 p-2"></div>
                <div class="col-4 p-2">
                    <button aria-target="step3"
                        class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-success btn-lg  pull-right"><i
                            class="fa fa-flag"></i> Done!</button>
                </div>
            </div>

        </div>

        <div class="row col-12 m-3 flex" id="step3">
            <div class="row w-100 p-3 m-3 bg-white">
                <h2>
                    <i class="fa fa-flag"></i> DONE!
                </h2>
            </div>

            <div class="row w-100 p-3 m-3">
                <h4 class="w-100">
                    <div>You're <span class="text-success">good</span> to go!</div>
                </h4>
                <h4 class="w-100">
                    <p>Watch for an email from us with your schedule.</p>
                    <p><strong>See you soon!</strong></p>
                </h4>
            </div>


            <div class="row w-100 p-3 m-3 bg-white">
                <div class="col-4 p-2">
                    <button aria-target="step2"
                        class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg pull-left"><i
                            class="fa fa-undo"></i> Make Changes</button>
                </div>
                <div class="col-4 p-2"></div>
                <div class="col-4 p-2"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        $('button[aria-target]').click((e) => {
            e.preventDefault();
            let t = $(e.currentTarget).attr('aria-target');
            $('#stepsContainer').scrollTo($(`#${t}`), { duration: 200 });
        });
    })
</script>