<div id="accordion" class="accordion-wrapper mb-3">
    {{> components/instructor-accordion-card owner="accordion"}}
    {{> components/instructor-accordion-card owner="accordion"}}
    {{> components/instructor-accordion-card owner="accordion"}}
    {{> components/instructor-accordion-card owner="accordion"}}
    {{> components/instructor-accordion-card owner="accordion"}}
</div>