<div class="card">
    <div class="card-header">
        <button type="button" data-toggle="collapse" data-target="#{{this}}" aria-expanded="false" aria-controls="{{this}}" class="text-left m-0 p-0 btn btn-link btn-block collapsed">
            {{> components/instructor-avatar image='12.jpg' name='Lexy Boom'}}
        </button>
    </div>
    <div id="{{this}}" class="collapse" data-parent="#instructor-accordion" style="">
        <div class="card-body">Fri AM</div>
        <div class="card-body">Fri PM</div>
        <div class="card-body">Sat AM</div>
        <div class="card-body">Sat PM</div>
        <div class="card-body">Sun AM</div>
        <div class="card-body">Sun PM</div>
    </div>
</div>