<div id="instructor-accordion" class="accordion-wrapper mb-3" style="height:max-content;overflow-y:scroll">
    {{#each instructors as |instructor|}}
        {{> components/instructor-accordion-card instructor=instructor}}
    {{/each}}
</div>