<div class="row">
    <div class="col-2">
        <img class="rounded-circle" src="images/avatars/{{image}}" />
    </div>
    <div class="col-9">
        <h4>{{name}}</h4>
        <span>Description goes here.</span>
    </div>
</div>