<div id="instructor-accordion" class="accordion-wrapper mb-3" style="height:max-content;overflow-y:scroll">
    {{> components/instructor-accordion-card (guid) }}
    {{> components/instructor-accordion-card (guid) }}
    {{> components/instructor-accordion-card (guid) }}
    {{> components/instructor-accordion-card (guid) }}
    {{> components/instructor-accordion-card (guid) }}
    {{> components/instructor-accordion-card (guid) }}
    {{> components/instructor-accordion-card (guid) }}
    {{> components/instructor-accordion-card (guid) }}
    {{> components/instructor-accordion-card (guid) }}
</div>