<div class="card-shadow-primary profile-responsive card-border mb-3 card">
    <div class="dropdown-menu-header">
        <div class="dropdown-menu-header-inner bg-danger">
            <div class="menu-header-image" style="background-image: url('images/dropdown-header/abstract1.jpg')"></div>
            <div class="menu-header-content btn-pane-right">
                <div class="avatar-icon-wrapper mr-2 avatar-icon-xl">
                    <div class="avatar-icon"><img src="images/avatars/3.jpg" alt="Avatar 5"></div>
                </div>
                <div><h5 class="menu-header-title">Mathew Mercer</h5><h6 class="menu-header-subtitle">Sales Manager</h6></div>
                <div class="menu-header-btn-pane">
                    <button class="btn-icon mr-2 btn-icon-only btn btn-warning btn-sm"><i class="pe-7s-config btn-icon-wrapper"> </i></button>
                    <button class="btn-icon btn btn-success btn-sm">View Profile</button>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                        <div class="icon-wrapper m-0">
                            <div class="progress-circle-wrapper">
                                <div class="circle-progress d-inline-block circle-progress-success"><canvas width="104" height="104" style="height: 52px; width: 52px;"></canvas>
                                    <small><span>81%<span></span></span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content-left">
                        <div class="widget-heading">January Sales</div>
                        <div class="widget-subheading">Lorem ipsum dolor</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers widget-numbers-sm text-primary"><span>764</span></div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                        <div class="icon-wrapper m-0">
                            <div class="progress-circle-wrapper">
                                <div class="circle-progress d-inline-block circle-progress-info"><canvas width="104" height="104" style="height: 52px; width: 52px;"></canvas>
                                    <small><span>69%<span></span></span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content-left">
                        <div class="widget-heading">February Sales</div>
                        <div class="widget-subheading">Maecenas tempus, tellus</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers widget-numbers-sm text-warning"><span>194</span></div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                        <div class="icon-wrapper m-0">
                            <div class="progress-circle-wrapper">
                                <div class="circle-progress d-inline-block circle-progress-danger"><canvas width="104" height="104" style="height: 52px; width: 52px;"></canvas>
                                    <small><span>23%<span></span></span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content-left">
                        <div class="widget-heading">March Sales</div>
                        <div class="widget-subheading">Donec vitae sapien</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers widget-numbers-sm text-danger"><span>-54 $</span></div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                        <div class="icon-wrapper m-0">
                            <div class="progress-circle-wrapper">
                                <div class="circle-progress d-inline-block circle-progress-dark"><canvas width="104" height="104" style="height: 52px; width: 52px;"></canvas>
                                    <small><span>69%<span></span></span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content-left">
                        <div class="widget-heading">April Sales</div>
                        <div class="widget-subheading">Curabitur ullamcorper ultricies</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers widget-numbers-sm text-info"><span>45 $</span></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>