<div id="memberSelections">
    <div class="row mb-3 pl-3 rounded">
        <div class="col-3" style="border: 2px solid #666; background-color:#1A6; color: white">
            <h3>Fri AM</h3>
        </div>
        <div id="fri-am" class="col-9 text-center" style="border: 2px dashed #999;background-color: #ddddde;display: inline;padding: 0.7em;">
            <span class="fa fa-plus"></span>
        </div>
    </div>

    <div class="row mb-3 pl-3 rounded">
        <div class="col-3" style="border: 2px solid #666; background-color:#1A6; color: white">
            <h3>Fri PM</h3>
        </div>
        <div id="fri-pm" class="col-9 text-center" style="border: 2px dashed #999;background-color: #ddddde;display: inline;padding: 0.7em;">
            <span class="fa fa-plus align-middle"></span>
        </div>
    </div>

    <div class="row mb-3 pl-3 rounded">
        <div class="col-3" style="border: 2px solid #666; background-color:#1A6; color: white">
            <h3>Sat AM</h3>
        </div>
        <div id="sat-am" class="col-9 text-center" style="border: 2px dashed #999;background-color: #ddddde;display: inline;padding: 0.7em;">
            <span class="fa fa-plus"></span>
        </div>
    </div>

    <div class="row mb-3 pl-3 rounded">
        <div class="col-3" style="border: 2px solid #666; background-color:#1A6; color: white">
            <h3>Sat PM</h3>
        </div>
        <div id="sat-pm" class="col-9 text-center" style="border: 2px dashed #999;background-color: #ddddde;display: inline;padding: 0.7em;">
            <span class="fa fa-plus"></span>
        </div>
    </div>

    <div class="row mb-3 pl-3 rounded">
        <div class="col-3" style="border: 2px solid #666; background-color:#1A6; color: white">
            <h3>Sun AM</h3>
        </div>
        <div id="sun-am" class="col-9 text-center" style="border: 2px dashed #999;background-color: #ddddde;display: inline;padding: 0.7em;">
            <span class="fa fa-plus"></span>
        </div>
    </div>

    <div class="row mb-3 pl-3 rounded">
        <div class="col-3" style="border: 2px solid #666; background-color:#1A6; color: white">
            <h3>Sun PM</h3>
        </div>
        <div id="sun-pm" class="col-9 text-center" style="border: 2px dashed #999;background-color: #ddddde;display: inline;padding: 0.7em;">
            <span class="fa fa-plus"></span>
        </div>
    </div>
</div>